<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dogs/tabs/calendar"></ion-back-button>
    </ion-buttons>
    <ion-title>Añade vacuna</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateVac()" [disabled]="!createVacForm.valid">
        <!--<ion-icon name="checkmark" slot="icon-only"></ion-icon>-->
        AñadirVacuna
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createVacForm">
    <ion-grid>
      <ion-row>
        <ion-col side-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="name"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col side-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Ultima fecha</ion-label>
            <ion-datetime
              displayFormat="DD MMM YYYY"
              monthShortNames="Ene, Feb, Mar, Abr, Mayo, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
              formControlName="lastTime"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-list>
    <ion-label>Mis vacunas</ion-label>
    <ion-item *ngFor="let vac of vacs">{{vac.name}}</ion-item>
  </ion-list>
</ion-content>
