<ion-content>
  <section>
    <ion-button color="primary" routerLink="/dogs/tabs/home/create-dog"
      >Añadir perro</ion-button
    >
    <ion-button color="primary" routerLink="/dogs/tabs/home/create-vac"
      >Añadir vacuna</ion-button
    >
    <ion-button color="primary" routerLink="/dogs/tabs/home/create-vac/edit-vac"
      >Editar vacuna</ion-button
    >
  </section>

  <!-- <section>
    <ion-button color="primary" (click)="showDog()"
      >Ver perro elegido</ion-button
    >
  </section> -->
</ion-content>
