<ion-app>
  <ion-menu side="start" contentId="main-content" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          DogMe
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="home">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Calendario</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" (click)="onLogout()">
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
