<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="calendar">
        <ion-label>Calendario</ion-label>
        <ion-icon name="calendar"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="galery">
        <ion-label>Galeria</ion-label>
        <ion-icon name="images"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="graphs">
        <ion-label>Graficas</ion-label>
        <ion-icon name="bar-chart-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="training">
        <ion-label>Entrenamiento</ion-label>
        <ion-icon name="baseball-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
