<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Nombre del perro</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/dogs/tabs/home/dog-details">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="calendar">
        <ion-label>Calendario</ion-label>
        <ion-icon name="calendar"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="galery">
        <ion-label>Galeria</ion-label>
        <ion-icon name="images"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="graphs">
        <ion-label>Graficas</ion-label>
        <ion-icon name="bar-chart-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="training">
        <ion-label>Entrenamiento</ion-label>
        <ion-icon name="baseball-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
