<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button color="primary" (click)="onButtonSelected()">Baño</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <calendar [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      [startingDayWeek]="calendar.startingDayWeek"
      [startingDayMonth]="calendar.startingDayMonth"
      (onCurrentDateChanged)="onCreateEvent($event)"
      (onRangeChanged)="reloadSource(startTime, endTime)"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      step="30">
    </calendar>
    </ion-col>
  </ion-row>
</ion-grid>



</ion-content>
